@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #fff;
    background-color: black;
    font-family: "INTER", sans-serif;
    }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .textgradient {
    background: linear-gradient(
      135deg,
      rgb(37, 99, 235) 0%,
      rgb(249, 115, 222) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
